/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

#main-content {
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
    margin-left: 250px; /* This shifts the content when sidebar is expanded */
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3e4a59;  /* Brighter background */
    color: white;
    border-bottom: 1px solid #ccc;
}

#logo {
    max-width: 150px;  /* Adjusted size for a centered look */
    display: block;
    margin: 0 auto;
}

#toggle-sidebar {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

#nav {
    padding: 20px 0;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav ul li {
    margin: 20px 0;
}

#nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #d3d3d3;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#nav ul li a:hover {
    background-color: #4a5663;
    color: white;
}

#nav ul li a i {
    margin-right: 10px;
    font-size: 20px;
}

/* Sidebar Styles */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #2c3446;  /* Lighter gray with blue accents */
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease-in-out;
    z-index: 1000;
}

#sidebar.collapsed {
    width: 80px;
}

#sidebar.collapsed #nav ul li a {
    justify-content: center;
}

#sidebar.collapsed #nav ul li a i {
    font-size: 24px;
}

#sidebar.collapsed #logo {
    display: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: none;  /* Sidebar is hidden by default */
        flex-direction: column;
        background-color: #2c3446;
    }

    #sidebar.open {
        display: flex;
    }

    #toggle-sidebar {
        display: block;
    }

    #nav ul {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    #nav ul li {
        margin: 10px 0;
    }

    #main-content {
        margin-left: 0;  /* Content should not shift on mobile */
    }
}

/* Hover Effect for Sidebar Links */
#nav ul li a:hover {
    background-color: #4a5663;
}

/* Desktop Styles */
@media (min-width: 769px) {
    #sidebar {
        width: 250px;
        height: 100%;
        padding-top: 30px;
    }

    #sidebar.collapsed {
        width: 80px;
    }

    #toggle-sidebar {
        display: none;
    }
}
